/*format list */

dl.mod-jea-emphasis {
	padding:0;
	margin: 0 0 1em 0;
}

dl.mod-jea-emphasis.horizontal {
	width: 30%;
	float: left;
	margin-right: 1em;
	height: 150px;
	overflow: hidden;
}

dl.mod-jea-emphasis dt {
	clear: both;
	padding: 0;
	margin: 0 0 5px 0;
	font-size: 1.2em;
}

dl.mod-jea-emphasis dd {
	padding: 5px 0;
	margin: 0;
	overflow: hidden;
}

dl.mod-jea-emphasis strong.slogan {
	color: red;
}

dl.mod-jea-emphasis a.image {
	display: block;
	margin-bottom: 5px;
}

dl.mod-jea-emphasis a.image img {
	border: none;
}

dl.mod-jea-emphasis.vertical a.image {
	display: block;
}
